@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
  background: #0b1320 !important;
}

div {
  background-color: transparent;
}

.container,
.container-fluid,
.row {
  background: transparent !important;
}

* {
  background-color: transparent;
}